#content-1 {
	display: flex;
	flex-direction: column;
	padding: 4%;
	text-align: center;
	align-items: center;
	background-color: #03F7FF;
	border-color: #111ED9;
	border-style: groove;
	border-radius: 50px;
	margin: 5% 35%;
	row-gap: 38px;
}

h2 {
	border-color: black;
	border-style: groove;
}

#log-in {
	border-radius: 10px;
	height: 30px;
	width: 100px;
}

.inputs {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 20px;
	height: 30px;
}

.labels {
	width: 100px;
	text-align: start;
}